<div class="row" style="margin-top:30px">
    <div class="col-md-4">
        <div class="card shadow-lg">
            <div class="card-body">
                <img />
                <h5 class="card-title">Best College Award 2024</h5>
                <p class="card-text">ITM College was honored as the Best College in Academic Excellence for 2024.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">100% Placement Record</h5>
                <p class="card-text">Our students achieved a 100% placement rate in top MNCs and organizations.</p>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow-lg">
            <div class="card-body">
                <h5 class="card-title">National Science Championship</h5>
                <p class="card-text">ITM students won the National Science Championship for their innovative research projects.</p>
            </div>
        </div>
    </div>
</div>

