
                <div class="row">
                    <div class="col-md-4">
                        <div class="wm-event-latest-slider">
                            <div class="wm-event-latest-layer">
                                <h6 class="wm-color">
                                    Enjoy the best experience for you with the choice of
                                    our campus - a truly international university campus in Barcelona.
                                </h6>
                                <a href="#" class="wm-banner-btn">about us</a>
                            </div>
                            <div class="wm-event-latest-layer">
                                <h6 class="wm-color">
                                    Enjoy the best experience for you with the choice of
                                    our campus - a truly international university campus in Barcelona.
                                </h6>
                                <a href="#" class="wm-banner-btn">about us</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="wm-event wm-latest-event">
                            <ul class="row">
                                <li class="col-md-12">
                                    <figure>
                                        <a href="#">
                                            <img src="~/assets/extra-images/latest-event-1.png"
                                                 alt="">
                                        </a>
                                    </figure>
                                    <div class="wm-latest-event-text">
                                        <h6>
                                            <a href="#" class="wm-color">
                                                Out of This World: The Family Fun
                                                Day
                                            </a>
                                        </h6>
                                        <time datetime="2008-02-14 20:00">21/05/2025</time>
                                        <p>
                                            Join us for outer-space themed games, prizes, science & talks
                                            about careers in the UK.
                                        </p>
                                        <a href="#" class="wm-banner-btn">check event</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="wm-event wm-latest-event">
                            <ul class="row">
                                <li class="col-md-12">
                                    <figure>
                                        <a href="#">
                                            <img src="~/assets/extra-images/latest-event-2.png"
                                                 alt="">
                                        </a>
                                    </figure>
                                    <div class="wm-latest-event-text">
                                        <h6>
                                            <a href="#" class="wm-color">
                                                Shakespeare at Balliol in those
                                                five acts
                                            </a>
                                        </h6>
                                        <time datetime="2008-02-14 20:00">19/07/2025</time>
                                        <p>
                                            A.C. Bradley and J.C. Maxwell get down to serious criticism;
                                            another Balliol writer launches the.
                                        </p>
                                        <a href="#" class="wm-banner-btn">check event</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="wm-counter wm-counter-simple">
                    <ul class="row">
                        <li class="col-md-12">
                            <span class="word-count">5</span>
                            <h6>th best University in Europe (Youth Inc. 2015 ranking)</h6>
                        </li>
                        <li class="col-md-12">
                            <span class="word-count">68</span>
                            <h6>% International students especially from Asia, Africa & Europe</h6>
                        </li>
                        <li class="col-md-12">
                            <span class="word-count">91</span>
                            <h6>Student Nationalities</h6>
                        </li>
                    </ul>
                </div>
            </div>
