@model ITM.Models.FacilityView
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container" style="margin-top:80px;">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add Facility</div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            @if (TempData["SuccessMessage"] != null)
                            {
                                <div class="alert alert-success alert-dismissible fade show" role="alert">
                                    @TempData["SuccessMessage"]
                                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                </div>
                            }
                            <form asp-controller="Admin" asp-action="Facility_Form" method="post" enctype="multipart/form-data">
                             <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="col-md-6 col-lg-4">
                                <div class="form-group">
                                    <label asp-for="FacilityName">Facility Name</label>
                                    <input asp-for="FacilityName" type="text" class="form-control" placeholder="Name" />
                                    <span asp-validation-for="FacilityName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FacilityImg">Facility Image</label>
                                    <input asp-for="FacilityImg" type="file" class="form-control" placeholder="Image" />
                                        <span asp-validation-for="FacilityImg" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FacilityDesc">Facility Description</label>
                                    <textarea asp-for="FacilityDesc" type="text" class="form-control" placeholder="Description" ></textarea>
                                        <span asp-validation-for="FacilityDesc" class="text-danger"></span>
                                </div>
                    <div class="card-action">
                        <input class="btn btn-success" type="submit" value="Submit">
                                        <a asp-action="Facility" class="btn btn-primary">Back to List</a>
                    </div>
                </div>
                </form>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
