@model IEnumerable<ITM.Models.Faculty>
@{
	// Mapping Departments to CSS Classes
	var departmentClassMapping = new Dictionary<string, string>
	{
		{ "Chemistry", "jquery" },
		{ "French", "php" },
		{ "Economics", "wordpress" },
		{ "Psychology", "seo" },
		{ "Geology", "laravel" },
		{ "Mathematics", "sql" }
	};
}

@{
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!--// Mini Header \\-->
<div class="wm-mini-header">
	<span class="wm-blue-transparent"></span>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wm-mini-title">
					<h1>Our Faculties</h1>
				</div>
				<div class="wm-breadcrumb">
					<ul>
						<li><a asp-controller="User" asp-action="Index">Home</a></li>
						<li><a>About</a></li>
						<li asp-controller="User" asp-action="Faculty">Our Faculties</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--// Mini Header \\-->
	<!--// Main Content \\-->
<div class="wm-main-content">

	<!--// Main Section \\-->
	<div class="wm-main-section">
		<div class="container">
			<div class="row">
				<div class="wm-filterable">
					<ul>
						<li>
							<a href="casestudy-single-post.html" data-filter="*" class="active">All</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".jquery">Chemistry</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".php">French</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".wordpress">Economics</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".seo">Psychology</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".laravel">Geology</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".sql">Mathematics</a>
						</li>
					</ul>
				</div>
				
					<div class="wm-our-professors ">
					@foreach (var item in Model)
					{
						string departmentName = item.Department?.DepartmentName ?? "Unknown";
						string facultyClass = departmentClassMapping.ContainsKey(departmentName) ? departmentClassMapping[departmentName] : "";
						<ul class="row">
							<li class="col-md-4 @facultyClass">
								<figure>
									<img src="~/assets/extra-images/@item.FacultyImg" alt="">
								</figure>
								<div class="wm-team-info">
									<h5>@item.FacultyName</h5>
									<div class="wm-icon">
										<a class="wmicon-social5" href="#"></a>
										<a class="wmicon-social4" href="#"></a>
										<a class="wmicon-logo" href="#"></a>
									</div>
									<span>@departmentName DEPARTMENT</span> 
									<p>@item.Qualification</p>
									<p>@item.Experience</p>
								</div>
							</li>
						</ul>				}

					</div>
			</div>
		</div>
	</div>
	<!--// Main Section \\-->

</div>
<!--// Main Content \\-->