@{
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!--// Mini Header \\-->
<div class="wm-mini-header">
	<span class="wm-blue-transparent"></span>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="wm-mini-title">
					<h1>Our Faculties</h1>
				</div>
				<div class="wm-breadcrumb">
					<ul>
						<li><a href="index-2.html">Home</a></li>
						<li><a href="#">Pages</a></li>
						<li>Our Faculties</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
<!--// Mini Header \\-->
	<!--// Main Content \\-->
<div class="wm-main-content">

	<!--// Main Section \\-->
	<div class="wm-main-section">
		<div class="container">
			<div class="row">
				<div class="wm-filterable">
					<ul>
						<li>
							<a href="casestudy-single-post.html" data-filter="*" class="active">All</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".jquery">Chemistry</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".php">French</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".wordpress">Economics</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".jquery">Psychology</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".jquery">Geology</a>
						</li>
						<li>
							<a href="casestudy-single-post.html" data-filter=".jquery">Mathematics</a>
						</li>
					</ul>
				</div>
				<div class="wm-our-professors">
					<ul class="row">
						<li class="col-md-4 wordpress">
							<figure>
								<a href="#"><img src="~/assets/extra-images/our-professors-1.jpg" alt=""></a>
								<figcaption>
									<a href="#">Read More</a>
								</figcaption>
							</figure>
							<div class="wm-team-info">
								<h5><a href="#">Chester J. Graham</a></h5>
								<div class="wm-icon">
									<a class="wmicon-social5" href="#"></a>
									<a class="wmicon-social4" href="#"></a>
									<a class="wmicon-logo" href="#"></a>
								</div>
								<span>Law DEPARTMENT</span>
							</div>
						</li>
						<li class="col-md-4 jquery">
							<figure>
								<a href="#"><img src="~/assets/extra-images/our-professors-2.jpg" alt=""></a>
								<figcaption>
									<a href="#">Read More</a>
								</figcaption>
							</figure>
							<div class="wm-team-info">
								<h5><a href="#">Sophie R. Ray</a></h5>
								<div class="wm-icon">
									<a class="wmicon-social5" href="#"></a>
									<a class="wmicon-social4" href="#"></a>
									<a class="wmicon-logo" href="#"></a>
								</div>
								<span>drama DEPARTMENT</span>
							</div>
						</li>
						<li class="col-md-4 php">
							<figure>
								<a href="#"><img src="~/assets/extra-images/our-professors-3.jpg" alt=""></a>
								<figcaption>
									<a href="#">Read More</a>
								</figcaption>
							</figure>
							<div class="wm-team-info">
								<h5><a href="#">Jeremy E. Orem</a></h5>
								<div class="wm-icon">
									<a class="wmicon-social5" href="#"></a>
									<a class="wmicon-social4" href="#"></a>
									<a class="wmicon-logo" href="#"></a>
								</div>
								<span>arts DEPARTMENT</span>
							</div>
						</li>
						<li class="col-md-4 wordpress">
							<figure>
								<a href="#"><img src="~/assets/extra-images/our-professors-4.jpg" alt=""></a>
								<figcaption>
									<a href="#">Read More</a>
								</figcaption>
							</figure>
							<div class="wm-team-info">
								<h5><a href="#">Travis D. Kloss</a></h5>
								<div class="wm-icon">
									<a class="wmicon-social5" href="#"></a>
									<a class="wmicon-social4" href="#"></a>
									<a class="wmicon-logo" href="#"></a>
								</div>
								<span>economics DEPARTMENT</span>
							</div>
						</li>
						<li class="col-md-4 jquery">
							<figure>
								<a href="#"><img src="~/assets/extra-images/our-professors-5.jpg" alt=""></a>
								<figcaption>
									<a href="#">Read More</a>
								</figcaption>
							</figure>
							<div class="wm-team-info">
								<h5><a href="#">Nancy M. King</a></h5>
								<div class="wm-icon">
									<a class="wmicon-social5" href="#"></a>
									<a class="wmicon-social4" href="#"></a>
									<a class="wmicon-logo" href="#"></a>
								</div>
								<span>math DEPARTMENT</span>
							</div>
						</li>
						<li class="col-md-4 php">
							<figure>
								<a href="#"><img src="~/assets/extra-images/our-professors-6.jpg" alt=""></a>
								<figcaption>
									<a href="#">Read More</a>
								</figcaption>
							</figure>
							<div class="wm-team-info">
								<h5><a href="#">Bradley B. Poole</a></h5>
								<div class="wm-icon">
									<a class="wmicon-social5" href="#"></a>
									<a class="wmicon-social4" href="#"></a>
									<a class="wmicon-logo" href="#"></a>
								</div>
								<span>chemistry DEPARTMENT</span>
							</div>
						</li>
						<li class="col-md-4 wordpress">
							<figure>
								<a href="#"><img src="~/assets/extra-images/our-professors-7.jpg" alt=""></a>
								<figcaption>
									<a href="#">Read More</a>
								</figcaption>
							</figure>
							<div class="wm-team-info">
								<h5><a href="#">David M. Peterson</a></h5>
								<div class="wm-icon">
									<a class="wmicon-social5" href="#"></a>
									<a class="wmicon-social4" href="#"></a>
									<a class="wmicon-logo" href="#"></a>
								</div>
								<span>music DEPARTMENT</span>
							</div>
						</li>
						<li class="col-md-4 jquery">
							<figure>
								<a href="#"><img src="~/assets/extra-images/our-professors-8.jpg" alt=""></a>
								<figcaption>
									<a href="#">Read More</a>
								</figcaption>
							</figure>
							<div class="wm-team-info">
								<h5><a href="#">Ebony J. Smart</a></h5>
								<div class="wm-icon">
									<a class="wmicon-social5" href="#"></a>
									<a class="wmicon-social4" href="#"></a>
									<a class="wmicon-logo" href="#"></a>
								</div>
								<span>robotics DEPARTMENT</span>
							</div>
						</li>
						<li class="col-md-4 php">
							<figure>
								<a href="#"><img src="~/assets/extra-images/our-professors-9.jpg" alt=""></a>
								<figcaption>
									<a href="#">Read More</a>
								</figcaption>
							</figure>
							<div class="wm-team-info">
								<h5><a href="#">Mark B. Lewis</a></h5>
								<div class="wm-icon">
									<a class="wmicon-social5" href="#"></a>
									<a class="wmicon-social4" href="#"></a>
									<a class="wmicon-logo" href="#"></a>
								</div>
								<span>medical DEPARTMENT</span>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!--// Main Section \\-->

</div>
<!--// Main Content \\-->