@{
	Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<!--// Main Content \\-->
<div class="wm-main-content ">

	<!--// Main Section \\-->
	<div class="wm-main-section">
		<div class="container">
			<div class="row">

				<div class="col-md-12">
					<div class="wm-faq-page">
						<div class="row">
							<div class="col-md-3">
								<div class="wm-sidebar-sec">
									<div class="wm-sidebar">
										<ul>
											<li class="active">
												<a href="#">Purchases</a>
											</li>
											<li>
												<a href="#">Refunds</a>
											</li>
											<li>
												<a href="#">Students</a>
											</li>
											<li>
												<a href="#">Faculty & Staff</a>
											</li>
											<li>
												<a href="#">University Gallery</a>
											</li>
											<li>
												<a href="#">Pricing Plans</a>
											</li>
											<li>
												<a href="#">About University</a>
											</li>
											<li class="active">
												<a href="#">Purchases</a>
											</li>
											<li>
												<a href="#">Refunds</a>
											</li>
											<li>
												<a href="#">Students</a>
											</li>
											<li>
												<a href="#">Faculty & Staff</a>
											</li>
											<li>
												<a href="#">University Gallery</a>
											</li>
											<li>
												<a href="#">Pricing Plans</a>
											</li>
											<li>
												<a href="#">About University</a>
											</li>
										</ul>
									</div>
									<div class="wm-submit-question">
										<h6>Can’t find what<br> you’re looking for?</h6>
										<p>Try our database  or submit<br> your own question:</p>
										<a href="#">ASK NOW</a>
									</div>
								</div>
							</div>
							<div class="col-md-9">
								<div class="wm-faq-sec">
									<div class="wm-faq">
										<h2>FAQ’s</h2>
										<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingOne">
													<h4 class="panel-title">
														<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls=" collapseOne">
															When are Mid-Year Reports due?
														</a>
													</h4>
												</div>
												<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
													<div class="panel-body">
														Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingTwo">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
															How do I track the status of my application?
														</a>
													</h4>
												</div>
												<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
													<div class="panel-body">
														Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingThree">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
															Does Enroll work with third-party agents?
														</a>
													</h4>
												</div>
												<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
													<div class="panel-body">
														Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingFour">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
															Are Halal dining options available for students?
														</a>
													</h4>
												</div>
												<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
													<div class="panel-body">
														Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingFive">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
															Where do transfer students live?
														</a>
													</h4>
												</div>
												<div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
													<div class="panel-body">
														Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingSix">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
															Where can I learn more about Enroll's Houses?
														</a>
													</h4>
												</div>
												<div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
													<div class="panel-body">
														Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingSeven">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
															How can I apply for a job at Enroll?
														</a>
													</h4>
												</div>
												<div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
													<div class="panel-body">
														Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
													</div>
												</div>
											</div>
											<div class="panel panel-default">
												<div class="panel-heading" role="tab" id="headingEieght">
													<h4 class="panel-title">
														<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseEirght" aria-expanded="false" aria-controls="collapseEirght">
															Are there campus tours for visitors?
														</a>
													</h4>
												</div>
												<div id="collapseEirght" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEieght">
													<div class="panel-body">
														Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="wm-faq-search">
									<form>
										<input type="text" value="Search Course Here" onblur="if(this.value == '') { this.value ='Search Course Here'; }" onfocus="if(this.value =='Search Course Here') { this.value = ''; }">
										<i class="wmicon-search"></i>
										<input type="submit" value="">
									</form>
								</div>
								<div class="wm-faq wm-other-faq">
									<h2>Other FAQ’s</h2>
									<div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true">
										<div class="panel panel-default">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
														Does Enroll offer free courses?
													</a>
												</h4>
											</div>
											<div id="collapse1" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
														Where can I find information about financial aid?
													</a>
												</h4>
											</div>
											<div id="collapse2" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
														What courses does Enroll offer?
													</a>
												</h4>
											</div>
											<div id="collapse3" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
														What are the admissions and visa requirements for international students?
													</a>
												</h4>
											</div>
											<div id="collapse4" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
														Does Enroll offer summer school opportunities?
													</a>
												</h4>
											</div>
											<div id="collapse5" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
												</div>
											</div>
										</div>
										<div class="panel panel-default">
											<div class="panel-heading" role="tab">
												<h4 class="panel-title">
													<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
														What distance learning programs are offered at Enroll?
													</a>
												</h4>
											</div>
											<div id="collapse6" class="panel-collapse collapse" role="tabpanel">
												<div class="panel-body">
													Please have your school submit the Mid-Year Report as soon as first quarter or first trimester grades are available if you are an Early Decision candidate; for Regular Decision candidates.
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="wm-faq-form">
									<h2>No Answer Yet?</h2>
									<form>
										<ul>
											<li>
												<input type="text" onfocus="if(this.value =='Your Name') { this.value = ''; }" onblur="if(this.value == '') { this.value ='Your Name'; }" value="Your Name">
											</li>
											<li>
												<input type="text" onfocus="if(this.value =='Your E-mail') { this.value = ''; }" onblur="if(this.value == '') { this.value ='Your E-mail'; }" value="Your E-mail">
											</li>
											<li>
												<div class="select-icon">
													<select>
														<option value="Your Purpose">Your Purpose</option>
														<option value="Option-1">Option-1</option>
														<option value="Option-2">Option-2</option>
														<option value="Option-3">Option-3</option>
													</select>
												</div>
											</li>
											<li>
												<input type="text" onfocus="if(this.value =='Subject') { this.value = ''; }" onblur="if(this.value == '') { this.value ='Subject'; }" value="Subject">
											</li>
											<li class="full-input">
												<textarea placeholder="Your Comment"></textarea>
											</li>
											<li>
												<input type="submit" value="ask question">
											</li>
										</ul>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
</div>
<!--// Main Section \\-->
		</div>
<!--// Main Content \\-->
